.result-display-item {
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 0px 5px;
}

.result-display-item:hover {
    cursor: pointer;
    background-image: linear-gradient(#97D4E922, #97D4E988);
}

.heading {
    color: #002145;
}

.result-display-item:hover .heading {
    
}

.label {
    color: #0055B7;
}

.result-display-item:hover .label {
    
}