.result-display-item {

}

.result-display-item:hover {
    cursor: pointer;
}

.heading {
    color: #002145;
}

.result-display-item:hover .heading {
    
}

.label {
    color: #0055B7;
}

.result-display-item:hover .label {
    
}