@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Open Sans, Helvetica, sans-serif;
  line-height: 1.7;
  background-color: #eeeeee;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: #002145;
  padding: 3vw;
  border-top: 3px solid white;
  width: 100%;
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4pt;
  font-weight: 600;
  font-size: 16px;
}

h2 {
  font-size: 18px;
}

.container {
  /* display: grid; */
  /* grid-gap: 2vw; */
  /* padding: 3vw; */
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.search-wrapper {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2vw; */
  align-items: start;
}

.container-box {
  padding: 4vw;
  margin-right: 2vw;
  margin-bottom: 1.5vw;
  background: #ffffff88;
  border-radius: 10px;
  width: 100%;
}

.form-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px; */
}

.label-container {

}

.form-label {
  font-size: 15px;
  width: 100%;
}

#display-box {
  max-height: 390px;
  overflow-y: scroll;
}

.small-btn {
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 5px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: .2s;
}

.invisible {
  display: none;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 5px;
}

.error-border {
  border: 2px solid red !important;
}

input[type='text']::placeholder {
  font-style: italic;
  color: #999
}

input[type='text']:focus {
  background-color: #97D4E9;
}

.label-container input[type='text']:focus-visible {
  outline: none;
}

.searched-input {
  border: 2px solid green !important;
}

.btn {
  display: block;
  background: #002145;
  color: #fff;
  cursor: pointer;
  transition: .5s;
  border: 0;
  border-radius: 5px;
  -webkit-appearance: none;
}

#search-btn {
  width: 100%;
  padding: 12px 15px;
  margin: 5px 0;
  font-size: 16px;
}

#search-btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #002d5c;
  color: #d8a838;
}

button:focus {
  outline: none;
}

.timetable {
  background-color: #f4f4f4aa;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  empty-cells: show;
}

.day-header {
  font-weight: 100;
  border: 1px solid #ccc;
}

tr {
  border: 1px solid #ccc;
}

td {
  border: 1px solid #ccc;
  text-align: center;
}

.timetable-wrapper {
  display: "inline-block";
  vertical-align: "top";
}

.timetable-cell {
  overflow: hidden;
  height: 30px;
  transition: .1s;
}

.white-cell {
  background-color: #ffffffaa;
}

.timetable-menu {
  background: #ffffff88;
  margin-bottom: 0.5vw;
  border-radius: 5px;
}

.timetable-menu-btn {
  font-family: 'Open Sans';
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
}

.timetable-menu-btn:first-child {
  border-radius: 5px 0px 0px 5px;
}

.timetable-menu-btn:last-child {
  border-radius: 0px 5px 5px 0px;
}

.timetable-menu-btn:hover {
  background-color: #97D4E966;
}

.timetable-menu-btn.active {
  background-color: #97D4E988;
}

.time-column {
  width: 50px;
}

.time-cell {
  width: 50px;
  font-size: 14px;
  color: #666;
  text-align: right;
  padding-right: 5px;
  top: 0;
}

.added-cell {
  color: #0055B7;
  font-size: 15px;
  background-color: #97D4E966 !important;
  cursor: pointer;
  line-height: 1em;
  transition: background-color .2s, font-size .2s, color .2s;
}


.added-cell:hover {
  background-image: linear-gradient(#97D4E922, #97D4E988);
  outline: 2px solid #0055B7;
}

.h3-style {
  font-size: 20px;
  color: #002145;
  font-weight: bold;
}

.class-div {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #97D4E966;
}

.class-div:hover {
  background-image: linear-gradient(#97D4E922, #97D4E988);
}



.map {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  border-radius: 10px;
}


@media screen and (min-width: 576px) {
  header {
      padding: 2vw;
      text-align: left;
      padding-left: 5vw;
  }

  h1 {
      font-size: 20px;
      letter-spacing: 6pt;
  }

  h2 {
      font-size: 20px;
  }

  .search-wrapper {
      /* grid-template-columns: minmax(200px, 1fr) minmax(250px, 2fr); */
  }

  .container-box {
      padding: 2.5vw;
  }
}

@media screen and (min-width: 768px) {
  header {
      padding: 1.5vw;
      text-align: left;
      padding-left: 5vw;
  }

  .container {
      padding: 2vw;
  }

  h1 {
      font-size: 22px;
  }

  h2 {
      font-size: 22px;
  }

  .container-box {
      padding: 2vw;
  }
}


@media screen and (min-width: 992px) {
  header {
      padding: 1vw;
      padding-left: 5vw;
  }

  .container {
      /* grid-template-columns: 1fr 3fr; */
      justify-items: center;
  }

  .search-wrapper {
      display: inline-block;
  }

  .container-box {
      padding: 1.5vw;
  }

  .form-container {
      /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  }
}


@media (min-width: 1200px) {

}